/*alle elemente gleich setzen, border box für konsistente abstandssberechnungen*/
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*Base container*/
.container {
  /*sorgt dafür dass der inhalt nur 1200px breit sein kann; z.B. textumbruch!*/
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

/*wird die checkbox(der button des hamburgermenüs) angehackt öffnet sich das menü*/
#menu-toggle:checked ~ .menu-items {
  transform: translateX(0);
}

/*navigationsleiste oben fixieren & style, z.b. liegt über anderem inhalt, hat schatten*/
.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  height: 50px;
  z-index: 12;
}

#content-container {
  padding-top: 60px; /* Navbar-Höhe + extraplatz */
}

#progress-container {
  position: absolute;
  left: 50%;            /* Mitte horizontal */
  top: 50%;             /* Mitte vertikal */
  transform: translate(-50%, -50%); /* exakt zentrieren */
  display: flex;
  gap: 8px;
  align-items: center;
  height: 32px;
}

.progress-img {
  width: 40px;      
  height: 40px;
  object-fit: contain;
  display: block;
  flex-shrink: 0;
}

.progress-item {
    position: relative;
    display: inline-block;
    margin-right: 6px; /* optional */
}

.progress-number {
    position: absolute;
    bottom: 2px;
    right: 4px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    pointer-events: none; /* Klick geht durch zur Grafik */
}

.navbar-container input[type="checkbox"] {
  position: absolute;
  display: block;
  height: 32px;
  width: 30px;
  top: 20px;
  left: 5px;
  z-index: 5;
  opacity: 0;
}

.navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 14px;
    left: 15px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%; 
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 2rem;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

.menu-items > li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.1rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #117964;
  transition: color 0.3s ease-in-out;
}

/*style für das untermenü in der hamburgernav*/
  .submenu {
  list-style: none;
  padding-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.1rem;
}

.submenu li {
  margin-bottom: 0.1rem;
  font-size: 1rem;
  line-height: 1.2;
}

.menu-items .submenu a {
  color: #666;              /* Etwas hellerer Farbton */
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.menu-items .submenu a:hover {
  color: #117964;
}

.einleitung-container {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px; /* Abstand zwischen Text und Karte */
    font-size: 1rem;
    line-height: 1.5;
}


/*style für die karte
AUßERDEM AUCH FÜR DIE NAV ELEMENTE AUF DER KARTE!!
*/
.karte-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
}

.karte-bild {
  display: block;
  width: 100%;
  height: auto;
}

.karte-station {
    position: absolute;
    width: 40px;
    height: 40px;
    
    cursor: pointer;
    z-index: 10;
}

.karte-station img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* sorgt dafür, dass bilder nicht verzerrt werden sondern einfach kleiner / größer skaliert werden*/
}

/* Schwarze Nummer unten rechts */
.karte-station .nummer {
    position: absolute;
    bottom: 1px;
    right: 4px;
    font-size: 13px;
    font-weight: bold;
    color: black;
    pointer-events: none;
}

/*Button für abschliessen von Stationen / zurückgelangen*/
.bottom-button {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #117964;
  color: #fff;
  padding: 15px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  text-align: center;
  z-index: 9999;
}

.bottom-button:hover {
  background: #0c5a49;
}
