

/*alle elemente gleich setzen, border box für konsistente abstandssberechnungen*/
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/*Base container*/
.container {
  /*sorgt dafür dass der inhalt nur 1200px breit sein kann; z.B. textumbruch!*/
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

/*/*Button styling
.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: normal;
}

/*button farbe
.btn-primary {
  color: #fff;
  background: #16a083;
}

/*button hover effekte
.btn-primary:hover {
  background: #117964;
  transition: background 0.3s ease-in-out;
}*/

/* ............/navbar/............ */

/*
hamburger menue nicht auf desktop sichtbar; sollte aber sichtbar sein, einheitliches design
.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}*/
/*wird die checkbox(der button des hamburgermenüs) angehackt öffnet sich das menü*/
#menu-toggle:checked ~ .menu-items {
  transform: translateX(0);
}

/*navigationsleiste oben fixieren & style, z.b. liegt über anderem inhalt, hat schatten*/
.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  height: 50px;
  z-index: 12;
}

/*container für menü*/
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items > li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.1rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #117964;
  transition: color 0.3s ease-in-out;
}

/*style für das untermenü in der hamburgernav*/
  .submenu {
  list-style: none;
  padding-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.1rem;
}

.submenu li {
  margin-bottom: 0.1rem;
  font-size: 1rem;
  line-height: 1.2;
}

.menu-items .submenu a {
  color: #666;              /* Etwas hellerer Farbton */
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.menu-items .submenu a:hover {
  color: #117964;
}

@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }

  /*versteckte checkbox kontrolliert navigation*/
  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 5px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 14px;
    left: 5px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 2rem;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

}

@media (max-width: 500px) {
  html {
    font-size: 65%;
  }

  .navbar .menu-items li{
      font-size: 1.6rem;
  }

  .testimonial-container {
    flex-direction: column;
    text-align: center;
  }

  .navbar .menu-items li {
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    font-weight: 500;
  }

}

/*style für die seiteninhalte (z.B. karte oder die einzelnen)*/
  .page-section {
    padding: 80px 20px 20px; /* Top padding to push below navbar */
  }
